<form action="/articles" method="post">
<label for="atitle">Article Title: </label>
<input type="text" id="title" name="title"><br>

<label for="content">Article Content: </label>
<input type="text" id="content" name="content"><br>
<input id="submit" type="submit">
</form> 